.container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
    border-radius: 25px;
}

#display{
    text-align:right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 75px;
    color:white;
    background-color: rgb(79, 79, 79);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;


}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    
}

.button{
    
    line-height: 100px ;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#right{
    background-color:orange;
    color:white;
    font-size: 45px;
}
#right:hover{
    background-color:darkorange;
    color: white;
}

#top{
    background-color: rgb(79, 79, 79);
    color: white;
}
#top:hover{
    background-color:grey;
    color: white;
}

#numbers{
    background-color:grey;
    color: white;
}
#numbers:hover {
background-color:lightgray ;
color: white;
transition: 0.5s ease-in-out;
}

.button.zero{
    background-color:grey;
    color: white;
    grid-column-start:1 ;
    grid-column-end: 3;
    border-bottom-left-radius: 25px;

}

.button.equal{
    border-bottom-right-radius: 25px;

}